body {
  background-color: #e2f1f8;
}

/* === container style === */
.container {
  margin: 0 auto;
  padding: 0px 10px;
  width: 320px;
}

@media screen and (min-width: 640px) {
  .container {
    padding: 0px 15px;
    width: 640px;
  }
}

@media screen and (min-width: 1080px) {
  .container {
    width: 1080px;
  }
}
