.footer {
  display: flex;
  margin-top: 8px;
  min-height: 30px;

  background-color: #b0bec5;

  -webkit-box-shadow: 0px -8px 1px 0px rgba(128, 142, 149, 0.8);
  -moz-box-shadow: 0px -8px 1px 0px rgba(128, 142, 149, 0.8);
  box-shadow: 0px -8px 1px 0px rgba(128, 142, 149, 0.8);
}

.addres {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .general-list {
  display: flex;
}

.general-list .list-element {
  padding: 10px 0px;
}

.general-list .list-element:not(:last-child) {
  margin-right: 20px;
}

.footer .social-list {
  display: flex;
}

.social-list .list-element:not(:last-child) {
  margin-right: 5px;
}
